/* styling the heading */

h1{
    box-sizing: border-box;
    border: 5px solid black;
    color: black;
    background-color: beige;
    text-align: center;
    font-family: 'Apple Chancery', 'Arial Narrow', Arial, sans-serif;
}

/* Buttons inside the list, which contain the links, are styled like this: */

button a:hover{
    font-weight: bold;
    background-color: beige;
    color: black;
    text-align: left;
    font-size: x-large;
    margin-left: 200px;
}

/* styling the text, which is the description of the page and recipes */

.text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: black;
    text-align: left;
    margin-bottom: 20px;
}

/* positioning the pictures  */

img{
    display: block;
    margin: 75px 30px ;
   
}

/* content describes the content that can be found, thus the list of recipes */

.content{
    position:relative;
}

/* styling the list with the recipes */

ul{
    position:absolute;
    top: 100px;
    right:0px;
    font-size: large;
}

/* styling the links */

a{
    font-size: large;
}

